Repository alexander-xerxes-grant/advent-of-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, test

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: just flake8
        language: system
        types_or: [python, flake8]
    -   id: black
        name: black
        entry: just black
        language: system
        files: (^pyproject\.toml|\.py)$
    -   id: isort
        name: isort
        entry: just isort
        language: system
        files: (^pyproject\.toml|\.py)$
    -   id: newline-check
        name: check files have final newlines
        entry: just newline-check
        language: system
    -   id: test
        name: test
        entry: just test
        language: system
        files: (^pytest\.ini|^\.coveragerc|\.py)$

Complete algorithm and add solver test.
  day02/README.md
Due: none

Day 04 start.
  day04/README.md
  day04/__init__.py
  day04/input.txt
  day04/solution1.py
  day04/solution2.py
  day04/test_solution1.py
  day04/test_solution2.py
Due: black, isort, test

Day 04 implement range construction and test.
  day04/solution1.py
  day04/test_solution1.py
Due: black, isort, test

Day 04 refactor.
  day04/solution1.py
  day04/test_solution1.py
Due: black, isort, test

Day 04 solution2 and tests.
  day04/input.txt
  day04/solution2.py
  day04/test_solution2.py
Due: black, isort, test

Update README.md for repo.
  README.md
Due: none

Parse into lines.
  day05/__init__.py
  day05/input.txt
  day05/solution1.py
  day05/solution2.py
  day05/test_solution1.py
  day05/test_solution2.py
Due: black, isort, test

Upto parsing instructions.
  day05/README.md
  day05/solution1.py
  day05/test_input.txt
  day05/test_script.py
  day05/test_solution1.py
Due: black, isort, test

Part 1: solution.
  day05/solution1.py
  day05/test_solution1.py
Due: black, isort, test

Part 1: solution.
  day05/test_script.py
Due: black, isort, test

Day 1 solution.
  day01/__init__.py
  day01/input.txt
  day01/solution1.py
  day01/solution2.py
  day01/test_solution1.py
  day01/test_solution2.py
Due: black, isort, test

Fix typo in justfile.
  justfile
Due: none

Remove typo in justfile.
  .justfile
Due: none

Day 5 part 2 solution.
  day05/solution2.py
  day05/test_solution1.py
  day05/test_solution2.py
Due: black, isort, test

Change variable names to be more descriptive.
  day05/solution1.py
  day05/test_solution1.py
Due: black, isort, test

Split up crane() function.
  day05/solution1.py
Due: black, isort, test

Add test for move_crate().
  day05/solution1.py
  day05/test_solution1.py
Due: black, isort, test

Format for readability.
  day05/solution1.py
Due: black, isort, test

Day 06 - WIP.
  day06/__init__.py
  day06/input.txt
  day06/solution1.py
  day06/solution2.py
  day06/test_solution1.py
  day06/test_solution2.py
Due: black, isort, test

Day 06 - add initial test and code to pass test.
  day06/solution1.py
  day06/test_solution1.py
Due: black, isort, test

Day 06 part 1 solution.
  day06/input.txt
  day06/solution1.py
  day06/test_solution1.py
Due: black, isort, test

Update README.md
  README.md
Due: none

Day 3 part 1 solution.
  day03/README.md
  day03/__init__.py
  day03/input.txt
  day03/solution1.py
  day03/solution2.py
  day03/test_solution1.py
  day03/test_solution2.py
  day03/values_dict.py
Due: black, isort, test

Add shared dir.
  shared/__init__.py
  shared/input.py
  shared/solve.py
  shared/test_fixtures/inputs/day01/single_line_file.txt
  shared/test_fixtures/inputs/day02/multi_line_file.txt
  shared/test_fixtures/python/day01/some_file.py
  shared/test_fixtures/python/day02/some_file.py
  shared/tests/__init__.py
  shared/tests/test_input.py
  shared/tests/test_solve.py
Due: black, isort, test

Day 1 solution and tests.
  day01/README.md
  day01/parse_sum.py
  day01/solution1.py
  day01/solution2.py
  day01/test_solution2.py
  day01/tests/__init__.py
  day01/tests/test_input.txt
  day01/tests/test_parse_sum.py
  day01/tests/test_solution1.py
  day01/tests/test_solution2.py
Due: black, isort, test

Day 2 solution and tests.
  day02/solution1.py
  day02/solution2.py
  day02/test_solution1.py
  day02/test_solution2.py
  day02/tests/__init__.py
  day02/tests/test_input.txt
  day02/tests/test_solution1.py
  day02/tests/test_solution2.py
Due: black, isort, test

Update README.md.
  README.md
Due: none

Use .justfile instead of Makefile.
  Makefile
Due: none

Replace utils with shared.
  utils/__init__.py
  utils/generate.py
  utils/read.py
  utils/template/__init__.py
  utils/template/input.txt
  utils/template/solution1.py
  utils/template/solution2.py
  utils/template/test_solution1.py
  utils/template/test_solution2.py
Due: black, isort, test

WIP
  .flake8
  .pre-commit-config.yaml
  .python-version
  day03/test_solution1.py
  day04/test_solution1.py
  day05/solution1.py
  day05/test_input.txt
  day05/test_solution1.py
  day06/marker_finder.py
  day06/solution1.py
  day06/solution2.py
  day06/test_solution1.py
  day06/test_solution2.py
  day07/__init__.py
  day07/file_system.py
  day07/input.txt
  day07/solution1.py
  day07/solution2.py
  day07/test_input.txt
  day07/test_solution1.py
  day07/test_solution2.py
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/aoc18/checksum.py
  src/aoc18/checksum_input.txt
  src/aoc22/day1/elf_calories.py
  src/aoc22/day1/elf_calories_input.txt
  src/aoc22/day3/elf_rucksack.py
  src/aoc22/day3/rucksack.txt
  tests/unit_tests/aoc22/test_day1/elf_calories_example.txt
  tests/unit_tests/aoc22/test_day1/test_elf_calories.py
  tests/unit_tests/aoc22/test_day3/elf_rucksack_example.txt
  tests/unit_tests/aoc22/test_day3/test_elf_rucksack.py
  tests/unit_tests/box_ids.txt
  tests/unit_tests/test_checksum.py
Due: black, isort, test

Refactor.
  day01/solution1.py
  day01/solution2.py
  day01/tests/test_solution1.py
  day01/tests/test_solution2.py
  day02/solution1.py
Due: black, isort, test

Refactor.
  day02/README.md
Due: none

Refactor.
  day03/solution1.py
  day03/solution2.py
  day03/test_solution2.py
  day03/tests/__init__.py
  day03/tests/test_solution1.py
  day03/tests/test_solution2.py
Due: black, isort, test

Update pytest config to use new testpath key.
  pytest.ini
Due: test

Removed day05 from repo.
  day05/README.md
  day05/__init__.py
  day05/input.txt
  day05/solution1.py
  day05/solution2.py
  day05/test_input.txt
  day05/test_solution1.py
  day05/test_solution2.py
Due: black, isort, test

Day 04 refactor.
  day04/README.md
  day04/parser.py
  day04/solution1.py
  day04/solution2.py
  day04/test_solution1.py
  day04/test_solution2.py
  day04/tests/__init__.py
  day04/tests/test_input.txt
  day04/tests/test_parser.py
  day04/tests/test_solution1.py
  day04/tests/test_solution2.py
Due: black, isort, test

Format README.
  day04/README.md
Due: none

Day 6 solution and tests.
  python/day06/README.md
  python/day06/__init__.py
  python/day06/inputs/input.txt
  python/day06/marker_finder.py
  python/day06/solution1.py
  python/day06/solution2.py
  python/day06/tests/test_marker_finder.py
  python/day06/tests/test_solution1.py
  python/day06/tests/test_solution2.py
Due: black, isort, test

Refactor project config.
  python/.flake8
  python/.justfile
  python/poetry.lock
  python/pyproject.toml
  python/pytest.ini
  python/shared/__init__.py
  python/shared/input.py
  python/shared/solve.py
  python/shared/tests/__init__.py
  python/shared/tests/test_input.py
  python/shared/tests/test_solve.py
  template/python/README.md
  template/python/__init__.py
  template/python/inputs/input.txt
  template/python/inputs/test_input.txt
  template/python/solution1.py
  template/python/solution2.py
  template/python/tests/__init__.py
  template/python/tests/test_solution1.py
  template/python/tests/test_solution2.py
Due: black, isort, test
