Repository alexander-xerxes-grant/advent-of-code: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, safety, test, bandit

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: just flake8
        language: system
        types_or: [python, flake8]
    -   id: black
        name: black
        entry: just black
        language: system
        files: (^pyproject\.toml|\.py)$
    -   id: isort
        name: isort
        entry: just isort
        language: system
        files: (^pyproject\.toml|\.py)$
    -   id: safety
        name: safety
        entry: just safety
        language: system
        files: poetry.lock
    -   id: newline-check
        name: check files have final newlines
        entry: just newline-check
        language: system
    -   id: test
        name: test
        entry: just test
        language: system
        files: (^pytest\.ini|^\.coveragerc|\.py)$
    -   id: bandit
        name: bandit
        entry: just bandit
        language: system
        files: (^\.bandit|^src\/.+\.py)$

Testing pre-commit hook and justfile interaction.
  .pre-commit-config.yaml
  README.md
Due: none

Testing pre-commit hook and justfile interaction.
  Makefile
  justfile
Due: none

Revert to using Makefile, sad.
  .pre-commit-config.yaml
  Makefile
  justfile
Due: none

Update README.
  README.md
Due: none

Just file works now?
  .pre-commit-config.yaml
  justfile
Due: none

Just file works now?
  Makefile
  README.md
  justfile
Due: none

Nope, still doesn't work.
  .pre-commit-config.yaml
  justfile
Due: none

test
  .pre-commit-config.yaml
  justfile
Due: none

test
  README.md
Due: none

Ready.
  .pre-commit-config.yaml
  README.md
  justfile
Due: none

Test I can commit to branch.
  src/__init__.py
Due: black, isort, test, bandit

Implement checksum algorithm.
  input.txt
  src/application/checksum.py
Due: black, isort, test, bandit

WIP
  src/application/__init__.py
  src/checksum.py
  src/domain/__init__.py
  src/infrastructure/__init__.py
  tests/unit_tests/mock_input.txt
  tests/unit_tests/test_checksum.py
  tests/unit_tests/test_init.py
Due: black, isort, test, bandit

Add input parsing util for AOC challenges.
  utils/parse_input.py
Due: black, isort, test

Refactor code, expand test suite, test execute still WIP.
  src/checksum.py
  tests/unit_tests/box_ids.txt
  tests/unit_tests/empty.txt
  tests/unit_tests/test_checksum.py
Due: black, isort, test, bandit

AOC22 Day 1.
  src/aoc22/day1/elf_calories.py
  src/aoc22/day1/elf_calories_input.txt
  tests/unit_tests/aoc22/test_day1/elf_calories_example.txt
  tests/unit_tests/aoc22/test_day1/test_elf_calories.py
Due: black, isort, test, bandit

Algorithm gets solution, but coverage isn't above 95% and the functions need to be refactored.
  src/aoc22/day1/elf_calories.py
  tests/unit_tests/aoc22/test_day1/test_elf_calories.py
Due: black, isort, test, bandit

AOC22 Day 1.
  src/aoc22/day1/elf_calories.py
  src/aoc22/day3/elf_rucksack.py
  src/aoc22/day3/rucksack.txt
Due: black, isort, test, bandit

changing name of repo.
  src/aoc18/checksum.py
  src/aoc18/checksum_input.txt
  src/aoc22/day1/elf_calories.py
  tests/unit_tests/aoc22/test_day3/elf_rucksack_example.txt
  tests/unit_tests/aoc22/test_day3/test_elf_rucksack.py
  tests/unit_tests/test_checksum.py
Due: black, isort, test, bandit

changing name of repo.
  .flake8
  .gitignore
  .pre-commit-config.yaml
  .python-version
  LICENSE
  Makefile
  README.md
  justfile
  poetry.lock
  poetry.toml
  pyproject.toml
  pytest.ini
  scripts/newline_check.sh
  src/__init__.py
  src/aoc18/checksum.py
  src/aoc18/checksum_input.txt
  src/aoc22/day1/elf_calories.py
  src/aoc22/day1/elf_calories_input.txt
  src/aoc22/day3/elf_rucksack.py
  src/aoc22/day3/rucksack.txt
  tests/unit_tests/aoc22/test_day1/elf_calories_example.txt
  tests/unit_tests/aoc22/test_day1/test_elf_calories.py
  tests/unit_tests/aoc22/test_day3/elf_rucksack_example.txt
  tests/unit_tests/aoc22/test_day3/test_elf_rucksack.py
  tests/unit_tests/box_ids.txt
  tests/unit_tests/empty.txt
  tests/unit_tests/test_checksum.py
  utils/parse_input.py
Due: black, isort, safety, test, bandit

TDD - parse input.
  .flake8
  Makefile
  day02/README.md
  day02/__init__.py
  day02/input.txt
  day02/moves = {.py
  day02/solution1.py
  day02/solution2.py
  day02/test_solution1.py
  day02/test_solution2.py
  pyproject.toml
  pytest.ini
  utils/__init__.py
  utils/generate.py
  utils/parse_input.py
  utils/read.py
  utils/template/__init__.py
  utils/template/input.txt
  utils/template/solution1.py
  utils/template/solution2.py
  utils/template/test_solution1.py
  utils/template/test_solution2.py
Due: black, isort, test

TDD - calculate values of each move.
  day02/solution1.py
  day02/test_solution1.py
Due: black, isort, test

TDD - create test cases for determine_outcome().
  day02/test_solution1.py
Due: black, isort, test

TDD - implement function to pass tests.
  day02/solution1.py
Due: black, isort, test

Refactor solution using TDD.
  README.md
  day02/test_solution1.py
Due: black, isort, test

Implement code to make tests pass.
  day02/solution1.py
Due: black, isort, test

Add tests for check_outcome() function.
  day02/test_solution1.py
Due: black, isort, test

Update tests.
  day02/test_solution1.py
Due: black, isort, test

Implement code to pass tests.
  day02/solution1.py
Due: black, isort, test

Driving my development with Tests.
  day02/solution2.py
  day02/test_solution2.py
Due: black, isort, test

Add tests for player_move functionality.
  day02/solution2.py
  day02/test_solution2.py
Due: black, isort, test

Add tests for player_move functionality.
  day02/test_solution2.py
Due: black, isort, test

Add tests for parse_input.
  day02/test_solution2.py
Due: black, isort, test

Add code to make tests pass.
  day02/solution2.py
Due: black, isort, test

Add tests for calculate score function.
  day02/test_solution2.py
Due: black, isort, test

Update README with part 2.
  day02/README.md
Due: none

Update README with part 2.
  day02/moves = {.py
  day02/solution2.py
  day02/test.py
  day02/test.txt
Due: black, isort, test

Update README with part 2.
  day02/test.py
Due: black, isort, test

Complete algorithm and add solver test.
  day02/solution2.py
Due: black, isort, test

Complete algorithm and add solver test.
  day02/test_solution2.py
Due: black, isort, test
